@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>

    <link href="https://unpkg.com/gridjs/dist/theme/mermaid.min.css" rel="stylesheet" />
</head>
<body>
    <div>
        <div id="wrapper"></div>
    </div>

    <script src="https://unpkg.com/gridjs/dist/gridjs.umd.js"></script>
    <script>
        var shiftGrid = {
            "Pagination": {
                "Count": 6,
                "PageSize": 10,
                "PageStart": 0,
                "PageEnd": 5,
                "PageIndex": 0,
                "HasPreviousPage": false,
                "HasNextPage": false,
                "LastPageIndex": 5,
                "DataStart": 1,
                "DataEnd": 20
            },
            "Summary": {
                "DataCount": 110
            },
            "DataPageIndex": 0,
            "DataPageSize": 20,
            "Data": [
                {
                    "ChildTestItems": [
                        {
                            "ChildTestItems": [],
                            "ID": 101,
                            "Code": "Sub Code - 1",
                            "Title": "Sub Title - 1",
                            "Date": "2020-01-01T00:00:00",
                            "Price": 10.00,
                            "Type": 1,
                            "ParentTestItemId": 1
                        },
                        {
                            "ChildTestItems": [],
                            "ID": 102,
                            "Code": "Sub Code - 2",
                            "Title": "Sub Title - 2",
                            "Date": "2020-01-02T00:00:00",
                            "Price": 20.00,
                            "Type": 1,
                            "ParentTestItemId": 1
                        },
                        {
                            "ChildTestItems": [],
                            "ID": 103,
                            "Code": "Sub Code - 3",
                            "Title": "Sub Title - 3",
                            "Date": "2020-01-03T00:00:00",
                            "Price": 30.00,
                            "Type": 1,
                            "ParentTestItemId": 1
                        },
                        {
                            "ChildTestItems": [],
                            "ID": 104,
                            "Code": "Sub Code - 4",
                            "Title": "Sub Title - 4",
                            "Date": "2020-01-04T00:00:00",
                            "Price": 40.00,
                            "Type": 1,
                            "ParentTestItemId": 1
                        },
                        {
                            "ChildTestItems": [],
                            "ID": 105,
                            "Code": "Sub Code - 5",
                            "Title": "Sub Title - 5",
                            "Date": "2020-01-05T00:00:00",
                            "Price": 50.00,
                            "Type": 1,
                            "ParentTestItemId": 1
                        },
                        {
                            "ChildTestItems": [],
                            "ID": 106,
                            "Code": "Sub Code - 6",
                            "Title": "Sub Title - 6",
                            "Date": "2020-01-06T00:00:00",
                            "Price": 60.00,
                            "Type": 1,
                            "ParentTestItemId": 1
                        },
                        {
                            "ChildTestItems": [],
                            "ID": 107,
                            "Code": "Sub Code - 7",
                            "Title": "Sub Title - 7",
                            "Date": "2020-01-07T00:00:00",
                            "Price": 70.00,
                            "Type": 1,
                            "ParentTestItemId": 1
                        },
                        {
                            "ChildTestItems": [],
                            "ID": 108,
                            "Code": "Sub Code - 8",
                            "Title": "Sub Title - 8",
                            "Date": "2020-01-08T00:00:00",
                            "Price": 80.00,
                            "Type": 1,
                            "ParentTestItemId": 1
                        },
                        {
                            "ChildTestItems": [],
                            "ID": 109,
                            "Code": "Sub Code - 9",
                            "Title": "Sub Title - 9",
                            "Date": "2020-01-09T00:00:00",
                            "Price": 90.00,
                            "Type": 1,
                            "ParentTestItemId": 1
                        },
                        {
                            "ChildTestItems": [],
                            "ID": 110,
                            "Code": "Sub Code - 10",
                            "Title": "Sub Title - 10",
                            "Date": "2020-01-10T00:00:00",
                            "Price": 100.00,
                            "Type": 1,
                            "ParentTestItemId": 1
                        }
                    ],
                    "ID": 1,
                    "Code": "Code - 1",
                    "Title": "Title - 1",
                    "Date": "2022-02-14T23:21:52.903",
                    "Price": 10.00,
                    "Type": 1,
                    "ParentTestItemId": null
                },
                {
                    "ChildTestItems": [],
                    "ID": 2,
                    "Code": "Code - 2",
                    "Title": "Title - 2",
                    "Date": "2022-02-15T23:21:52.903",
                    "Price": 20.00,
                    "Type": 1,
                    "ParentTestItemId": null
                },
                {
                    "ChildTestItems": [],
                    "ID": 3,
                    "Code": "Code - 3",
                    "Title": "Title - 3",
                    "Date": "2022-02-16T23:21:52.903",
                    "Price": 30.00,
                    "Type": 1,
                    "ParentTestItemId": null
                },
                {
                    "ChildTestItems": [],
                    "ID": 4,
                    "Code": "Code - 4",
                    "Title": "Title - 4",
                    "Date": "2022-02-17T23:21:52.903",
                    "Price": 40.00,
                    "Type": 1,
                    "ParentTestItemId": null
                },
                {
                    "ChildTestItems": [],
                    "ID": 5,
                    "Code": "Code - 5",
                    "Title": "Title - 5",
                    "Date": "2022-02-18T23:21:52.903",
                    "Price": 50.00,
                    "Type": 1,
                    "ParentTestItemId": null
                },
                {
                    "ChildTestItems": [],
                    "ID": 6,
                    "Code": "Code - 6",
                    "Title": "Title - 6",
                    "Date": "2022-02-19T23:21:52.903",
                    "Price": 60.00,
                    "Type": 1,
                    "ParentTestItemId": null
                },
                {
                    "ChildTestItems": [],
                    "ID": 7,
                    "Code": "Code - 7",
                    "Title": "Title - 7",
                    "Date": "2022-02-20T23:21:52.903",
                    "Price": 70.00,
                    "Type": 1,
                    "ParentTestItemId": null
                },
                {
                    "ChildTestItems": [],
                    "ID": 8,
                    "Code": "Code - 8",
                    "Title": "Title - 8",
                    "Date": "2022-02-21T23:21:52.903",
                    "Price": 80.00,
                    "Type": 1,
                    "ParentTestItemId": null
                },
                {
                    "ChildTestItems": [],
                    "ID": 9,
                    "Code": "Code - 9",
                    "Title": "Title - 9",
                    "Date": "2022-02-22T23:21:52.903",
                    "Price": 90.00,
                    "Type": 1,
                    "ParentTestItemId": null
                },
                {
                    "ChildTestItems": [],
                    "ID": 10,
                    "Code": "Code - 10",
                    "Title": "Title - 10",
                    "Date": "2022-02-23T23:21:52.903",
                    "Price": 100.00,
                    "Type": 1,
                    "ParentTestItemId": null
                },
                {
                    "ChildTestItems": [],
                    "ID": 11,
                    "Code": "Code - 11",
                    "Title": "Title - 11",
                    "Date": "2022-02-24T23:21:52.903",
                    "Price": 110.00,
                    "Type": 1,
                    "ParentTestItemId": null
                },
                {
                    "ChildTestItems": [],
                    "ID": 12,
                    "Code": "Code - 12",
                    "Title": "Title - 12",
                    "Date": "2022-02-25T23:21:52.903",
                    "Price": 120.00,
                    "Type": 1,
                    "ParentTestItemId": null
                },
                {
                    "ChildTestItems": [],
                    "ID": 13,
                    "Code": "Code - 13",
                    "Title": "Title - 13",
                    "Date": "2022-02-26T23:21:52.903",
                    "Price": 130.00,
                    "Type": 1,
                    "ParentTestItemId": null
                },
                {
                    "ChildTestItems": [],
                    "ID": 14,
                    "Code": "Code - 14",
                    "Title": "Title - 14",
                    "Date": "2022-02-27T23:21:52.903",
                    "Price": 140.00,
                    "Type": 1,
                    "ParentTestItemId": null
                },
                {
                    "ChildTestItems": [],
                    "ID": 15,
                    "Code": "Code - 15",
                    "Title": "Title - 15",
                    "Date": "2022-02-28T23:21:52.903",
                    "Price": 150.00,
                    "Type": 1,
                    "ParentTestItemId": null
                },
                {
                    "ChildTestItems": [],
                    "ID": 16,
                    "Code": "Code - 16",
                    "Title": "Title - 16",
                    "Date": "2022-03-01T23:21:52.903",
                    "Price": 160.00,
                    "Type": 1,
                    "ParentTestItemId": null
                },
                {
                    "ChildTestItems": [],
                    "ID": 17,
                    "Code": "Code - 17",
                    "Title": "Title - 17",
                    "Date": "2022-03-02T23:21:52.903",
                    "Price": 170.00,
                    "Type": 1,
                    "ParentTestItemId": null
                },
                {
                    "ChildTestItems": [],
                    "ID": 18,
                    "Code": "Code - 18",
                    "Title": "Title - 18",
                    "Date": "2022-03-03T23:21:52.903",
                    "Price": 180.00,
                    "Type": 1,
                    "ParentTestItemId": null
                },
                {
                    "ChildTestItems": [],
                    "ID": 19,
                    "Code": "Code - 19",
                    "Title": "Title - 19",
                    "Date": "2022-03-04T23:21:52.903",
                    "Price": 190.00,
                    "Type": 1,
                    "ParentTestItemId": null
                },
                {
                    "ChildTestItems": [],
                    "ID": 20,
                    "Code": "Code - 20",
                    "Title": "Title - 20",
                    "Date": "2022-03-05T23:21:52.903",
                    "Price": 200.00,
                    "Type": 1,
                    "ParentTestItemId": null
                }
            ],
            "Filters": [],
            "Sort": [
                {
                    "Field": "ID",
                    "SortDirection": 0
                }
            ],
            "Columns": [
                {
                    "HeaderText": "ID",
                    "Field": "ID",
                    "Order": 0
                },
                {
                    "HeaderText": "Code",
                    "Field": "Code",
                    "Order": 1
                },
                {
                    "HeaderText": "Title",
                    "Field": "Title",
                    "Order": 2
                },
                {
                    "HeaderText": "Date",
                    "Field": "Date",
                    "Order": 3
                },
                {
                    "HeaderText": "Price",
                    "Field": "Price",
                    "Order": 4
                },
                {
                    "HeaderText": "Type",
                    "Field": "Type",
                    "Order": 5
                },
                {
                    "HeaderText": "ParentTestItemId",
                    "Field": "ParentTestItemId",
                    "Order": 6
                },
                {
                    "HeaderText": "ParentTestItem",
                    "Field": "ParentTestItem",
                    "Order": 7
                }
            ]
        };

        var grid = new gridjs.Grid({
            columns: shiftGrid.Columns.map(c => { return { name: c.HeaderText, id: c.Field }; }),
            data: shiftGrid.Data.map((d) => { return d; }),
            pagination: {
                enabled: true,
                limit: shiftGrid.DataPageSize,
                summary: true,
                page: shiftGrid.DataPageIndex,
                nextButton: true,
                prevButton: true,
                buttonsCount: 3,
            },
        });
        
        grid.render(document.getElementById("wrapper"));

        grid.updateConfig({
           //server: {
           //     url: 'http://localhost:50509/api/list-test-items',
           //     method: 'POST',
           //     then: data => {
           //         var rows = data.Data.map(movie =>
           //             [movie.ID, movie.Title]
           //         );

           //         return rows;
           //     },
           //     total: data => data.Summary.DataCount,
           //     handle: (res) => {
           //         return res.json();
           //     }
           // },
            total: 1000
        });

        grid.forceRender();
    </script>
</body>
</html>
